
 {% block body %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../CSS/loginPage.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <title>Login Page</title>
</head>

<body class="row row-cols-3 p-0 justify-content-center align-items-center" id="loginBodyContainer" style="min-height:100vh">

    <div class="col d-flex align-items-center justify-content-center" id="womandesk">
        <img src="../images/womandesk.png" alt="">
    </div>
    <!-- LOGIN FORM -->
    <div class="col d-flex align-items-center justify-content-center">
        <div class="row row-cols-1 flex-stretch align-items-center justify-content-center bg-dark" id="loginFormContainer">
            <form class="col pt-5" id="formIMG" method="post">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %} {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }},
                    <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                {% endif %}
                <div class="mb-3 text-center">
                    <label for="inputEmail" class="form-label ">Email</label>
                    <input type="email" class="form-control inputBackground w-75 m-auto border-0 text-white" id="inputFieldBackground" aria-describedby="emailHelp" value="{{ last_username}}" name="email" id="inputEmail" class="form-control" autocomplete="email" required
                        autofocus>
                </div>
                <div class="mb-3 text-center">
                    <label for="inputPassword" class="form-label ">Password</label>
                    <input type="password" name="password" class="form-control inputBackground w-75 m-auto border-0 text-white" id="inputFieldBackground" aria-describedby="passwordHelp" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>

                <div class="container-fluid m-0 p-0 d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-lg text-white rounded-pill" id="loginButton">LOGIN</button>
                </div>

                <a href="{{ path('app_register') }}" class="text-white text-decoration-none text-small">Your are new here? Please register first.</a>

                <!-- BOOK IMG -->
                <div class="container w-auto bg-d" id="books">
                    <img src="../images/books.png" alt="">
                </div>
            </form>
        </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center" id="womanheart">
        <img src="../images/womanheart.png" alt="">
    </div>

</body>

</html>
{% endblock %}