{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}
{% for value in service %}
<div>
Subject: {{value.subject}}
/ Price: {{value.amount}}
/ Start: {{value.startDate | date("d M.Y H:m")}}
/ End: {{value.endDate | date("d M.Y H:m")}}
</div>
<a href="/add/{{value.id}}"> Add to Cart </a>
<div>
</div>
{% endfor %}
<a href="/logout">Logout</a>
{% endblock %}
