 {% block title %}Hello StaticController!{% endblock %} {% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('CSS/static.css') }}"> {% endblock %} {% include "static/navbar.html.twig" %} {% block body %}

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 d-flex justify-content-center mb-5" id="card_margin">
    {% for value in service %}

    <div class="col d-flex justify-content-center">
        <div class="card text-white bg-dark d-flex justify-content-center mt-3 p-1" style="width: 35rem;">
            <image class="card-img-top" src="{{ value.picture }}" style="height:15rem;"></image>
            {#
            <div class="card text-white bg-dark"> #}
                <div class="card-body">
                    <h5 class="card-title">Name: {{value.subject}} </h5>
                    <p class="card-text">Price: € {{ value.amount }}</p>
                    <p class="card-text">Start date: {{value.startDate | date("d M.Y ")}}</p>
                    <p class="card-text">End date: {{value.endDate | date("d M.Y ")}}</p>
                    <a class="btn btn-success" href="/add/{{value.id}}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" zoomAndPan="magnify" viewBox="0 0 30 30.000001" height="40" preserveAspectRatio="xMidYMid meet" version="1.0">
                    <defs>
                        <clipPath id="36e87516e3">
                            <path d="M 1.359375 1.472656 L 28.9375 1.472656 L 28.9375 27.601562 L 1.359375 27.601562 Z M 1.359375 1.472656 " clip-rule="nonzero" />
                        </clipPath>
                    </defs>
                    <g clip-path="url(#36e87516e3)">
                        <path fill="#ffffff" d="M 28.117188 1.484375 C 28.074219 1.488281 28.03125 1.492188 27.992188 1.496094 L 27.988281 1.496094 L 23.773438 2.210938 C 23.503906 2.257812 23.28125 2.4375 23.179688 2.6875 C 23.179688 2.691406 23.179688 2.691406 23.179688 2.691406 L 21.226562 7.660156 L 2.136719 8.132812 C 1.917969 8.136719 1.710938 8.234375 1.570312 8.398438 C 1.425781 8.5625 1.359375 8.78125 1.386719 8.996094 L 2.4375 17.632812 C 2.480469 17.992188 2.785156 18.28125 3.152344 18.308594 L 16.757812 19.378906 L 19.457031 21.480469 C 19.460938 21.484375 19.460938 21.488281 19.464844 21.488281 C 19.46875 21.492188 19.472656 21.492188 19.476562 21.492188 C 19.476562 21.496094 19.480469 21.5 19.484375 21.5 C 19.976562 21.863281 20.097656 22.359375 20.03125 22.636719 C 19.988281 22.792969 19.929688 22.910156 19.785156 22.996094 C 19.640625 23.085938 19.394531 23.152344 18.96875 23.125 C 18.96875 23.125 18.964844 23.125 18.964844 23.125 C 18.949219 23.125 18.933594 23.125 18.921875 23.125 L 18.914062 23.125 L 2.683594 23.171875 C 2.253906 23.171875 1.898438 23.523438 1.898438 23.949219 C 1.898438 24.371094 2.261719 24.722656 2.6875 24.71875 L 3.875 24.714844 C 3.433594 24.992188 3.140625 25.480469 3.140625 26.03125 C 3.140625 26.894531 3.851562 27.597656 4.71875 27.597656 C 5.585938 27.597656 6.296875 26.894531 6.296875 26.03125 C 6.296875 25.476562 6 24.984375 5.558594 24.707031 L 18.921875 24.671875 C 18.441406 24.9375 18.113281 25.449219 18.113281 26.03125 C 18.113281 26.894531 18.824219 27.597656 19.691406 27.597656 C 20.558594 27.597656 21.269531 26.894531 21.269531 26.03125 C 21.269531 25.285156 20.734375 24.65625 20.023438 24.503906 C 20.695312 24.269531 21.210938 23.785156 21.53125 23.042969 C 21.535156 23.03125 21.539062 23.023438 21.542969 23.015625 C 21.789062 22.042969 21.351562 20.992188 20.457031 20.304688 C 20.457031 20.300781 20.453125 20.300781 20.449219 20.296875 C 20.449219 20.296875 20.449219 20.292969 20.445312 20.289062 C 20.4375 20.28125 20.429688 20.273438 20.421875 20.265625 L 18.507812 18.78125 L 24.46875 3.65625 L 28.25 3.019531 L 28.253906 3.019531 C 28.648438 2.957031 28.941406 2.589844 28.90625 2.191406 C 28.871094 1.792969 28.523438 1.480469 28.117188 1.484375 Z M 20.648438 8.851562 L 19.550781 11.644531 L 18.117188 11.644531 L 18.117188 8.914062 Z M 17.570312 8.929688 L 17.570312 11.640625 L 14.925781 11.640625 L 14.925781 8.996094 Z M 14.378906 9.007812 L 14.378906 11.640625 L 11.734375 11.640625 L 11.734375 9.070312 Z M 11.1875 9.085938 L 11.1875 11.640625 L 8.542969 11.640625 L 8.542969 9.152344 Z M 7.996094 9.164062 L 7.996094 11.640625 L 5.351562 11.640625 L 5.351562 9.230469 Z M 4.804688 9.242188 L 4.804688 11.644531 L 2.867188 11.644531 L 2.578125 9.300781 Z M 2.933594 12.183594 L 4.804688 12.183594 L 4.804688 14.632812 L 3.230469 14.632812 Z M 5.351562 12.183594 L 7.996094 12.183594 L 7.996094 14.632812 L 5.351562 14.632812 Z M 8.542969 12.183594 L 11.1875 12.183594 L 11.1875 14.632812 L 8.542969 14.632812 Z M 11.734375 12.183594 L 14.378906 12.183594 L 14.378906 14.632812 L 11.734375 14.632812 Z M 14.925781 12.183594 L 17.570312 12.183594 L 17.570312 14.632812 L 14.925781 14.632812 Z M 18.117188 12.183594 L 19.339844 12.183594 L 18.375 14.632812 L 18.117188 14.632812 Z M 3.296875 15.171875 L 4.804688 15.171875 L 4.804688 16.933594 L 3.496094 16.828125 Z M 5.351562 15.171875 L 7.996094 15.171875 L 7.996094 17.183594 L 5.351562 16.972656 Z M 8.542969 15.171875 L 11.1875 15.171875 L 11.1875 17.433594 L 8.542969 17.226562 Z M 11.734375 15.171875 L 14.378906 15.171875 L 14.378906 17.6875 L 11.734375 17.476562 Z M 14.925781 15.171875 L 17.574219 15.171875 L 17.574219 16.664062 L 17.070312 17.9375 C 17.003906 17.90625 16.933594 17.886719 16.863281 17.882812 L 14.925781 17.730469 Z M 18.121094 15.171875 L 18.160156 15.171875 L 18.121094 15.28125 Z M 4.71875 25.113281 C 5.234375 25.113281 5.648438 25.523438 5.648438 26.03125 C 5.648438 26.542969 5.234375 26.949219 4.71875 26.949219 C 4.203125 26.949219 3.792969 26.542969 3.792969 26.03125 C 3.792969 25.523438 4.203125 25.113281 4.71875 25.113281 Z M 19.691406 25.113281 C 20.207031 25.113281 20.621094 25.523438 20.621094 26.03125 C 20.621094 26.542969 20.207031 26.949219 19.691406 26.949219 C 19.175781 26.949219 18.761719 26.542969 18.761719 26.03125 C 18.761719 25.523438 19.175781 25.113281 19.691406 25.113281 Z M 4.71875 25.550781 C 4.441406 25.550781 4.214844 25.773438 4.214844 26.050781 C 4.214844 26.328125 4.441406 26.546875 4.71875 26.546875 C 5 26.546875 5.222656 26.328125 5.222656 26.050781 C 5.222656 25.773438 5 25.550781 4.71875 25.550781 Z M 19.691406 25.550781 C 19.410156 25.550781 19.1875 25.773438 19.1875 26.050781 C 19.1875 26.328125 19.410156 26.546875 19.691406 26.546875 C 19.972656 26.546875 20.195312 26.328125 20.195312 26.050781 C 20.195312 25.773438 19.972656 25.550781 19.691406 25.550781 Z M 19.691406 25.550781 "
                            fill-opacity="1" fill-rule="nonzero" />
                    </g>
                    </svg> Add to Cart </a> {# <a href="#" class="btn btn-light">Add to Cart <span class="text-danger">&rarr;</span></a> #}
                </div>
                {# </div> #}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}