{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
<div class="row row-cols-1" id="registerBodyContainer">
    <div class="col d-flex justify-content-center align-items-center p-0">
        <div class="row row-cols-1" id="registerFormContainer">
            <div class="col d-flex flex-column p-4" id="formIMG">
                <h1 class="text-center mb-4">Register</h1>


    {{ form_start(registrationForm) }}
     {{ form_row(registrationForm.name) }}
      {{ form_row(registrationForm.last_name) }}
      {{ form_row(registrationForm.birthday) }}
      {{ form_row(registrationForm.email) }}
    <button type="submit" class="btn btn-success m-2">Register</button>
    {{ form_end(registrationForm) }}
</div>
</div>
</div></div>

{% endblock %}