{% for service in services %}
<div class="row">
    <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="card mt-5" style="width: 18rem;">
            <image class="card-img-top" src="{{ service.picture }}" style="height:18rem;"></image>
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Name: {{ service.subject }}</h5>
                    <p class="card-text">Price: {{ service.amount }}</p>
                    <p class="card-text">Start date: {{ service.start_date }}</p>
                    <p class="card-text">End date: {{ service.end_date }}</p>
                    <p class="card-text">Available: {{ service.status }}</p>
                    <a href="#" class="btn btn-light">Read More <span class="text-danger">&rarr;</span></a>
                </div>
            </div>
        </div>
    </div>

</div>
{% else %}
<h1>no records found</h1>
{% endfor %}
</div>
{% endblock %}